<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run With Angie</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"><link/>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top" style="background-color:#655DBB;">
            <a href="http://runwithangie.com" class="navbar-brand">run with angie</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="https://hope.drugfree.org/endurance-teams/angieruns" target="_blank" class="nav-link">Donate</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('blog') }}" target="_blank" class="nav-link">Running Blog</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">I ran the RBC Brooklyn Half Marathon!</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on May 22, 2023</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Race</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{url_for('static', filename='images/medal.jpg')}}" alt="Angie holding her medal after finishing the race" /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-2 mb-4">I ran my first half marathon and I have never experienced this much human emotion.</p>
                            <h2 class="fw-bolder mb-4 mt-5">4:15AM.</h2> 
                            <p class="fs-5 mb-4">
                                Saturday morning. I have everything I need for the race laid out in front of me — clothes, bib, watch, earbuds, gels. I have prepared for the last 5 months to run this distance. On paper, I have prepared and should be ready. In reality, I don’t know why my head feels unattached to my body. I go from excited to nervous to wanting to stay home and not go to the race at all, and I can't explain it because rationally it doesn't make sense. I think to myself “It's 4am and I am getting ready to RUN a half-marathon” - and I almost can't believe it because a year ago that would have seemed impossible. But I am awake. It's 4:20 am. I'm doing this.</p>
                            <h2 class="fw-bolder mb-4 mt-5">5:10AM.</h2> 
                            <p class="fs-5 mb-4">
                                After a light PB & banana toast with a cup of coffee I hurry out the door with Matt. We make our way to the subway. I made Matt carry a backpack with post-race snacks and a dry change of clothes because it's going to rain. Runners have to get there early, but as nervous as I was, of course I overdid it a bit.
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">6:30AM.</h2> 
                            <p class="fs-5 mb-4">
                                I say goodbye to Matt and make my way to the runner's entrance and then to corral H. Runners are physically corralled between ropes in spaces labeled with different letters. I find it oddly amusing. It's early for my 7:45AM start time and the waiting game begins, but I'm not alone. I see runners all around me — stretching, sitting, eating, standing. I think about what we are all about to do and I think I have never been a part of an organized activity that is this large. More than 25,000 people and we're all… running? 
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">7:15AM</h2>
                            <p class="fs-5 mb-4">
                                I start shivering almost uncontrollably. It's not even that cold but I'm nervous and my body confuses that with cold. I am trying to meditate, move a little, keep my blood flowing, but I can't stop shaking. As I shiver in place, a woman approaches me and starts making conversation. I don't even know her name. She gives me an aluminum blanket from a past race and the shivering subsides. 
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">7:45AM</h2>
                            <p class="fs-5 mb-4"> We're off. As the herds of human corrals bunch together and walk towards the starting line I don't feel alone but my mind is in a quiet place. </p>
                            <h2 class="fw-bolder mb-4 mt-5">7:58AM</h2>
                            <p class="fs-5 mb-4">
                                I cross the starting line. Just like my long runs prepping for this moment, I let my mind drift off and enjoy the even strides. 13.1 miles feels daunting for the first mile. 
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 2</h2>
                            <p class="fs-5 mb-4">I see Matt for the first time and I am so happy to see him. We hug and everyone around us cheers.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 4</h2>
                            <p class="fs-5 mb-4">I take my first gel. Elevation started to pick up within the park and it's getting tough. I am determined to stay in it.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 5</h2>
                            <p class="fs-5 mb-4">I am so focused on my breathing I miss Matt to my right — of course I only find out about this after the race. I can't take my eyes off what's directly in front of me. The elevation is tough.</p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 6</h2>
                            <p class="fs-5 mb-4">I see Sophia to my right and immediately move right to hug her — I surprised her. I think she was trying to track me on her phone and I am so happy to see her. </p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 7</h2>
                            <p class="fs-5 mb-4">I see so many embraces, kisses, signs, laughter, tears, screams, smiles —it's overwhelming. I feel like I am in a bubble surrounded by human emotions.  </p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 8</h2>
                            <p class="fs-5 mb-4">I see Vero in the distance and I run towards her. I feel a lump in my throat and my eyes get watery. I am so ecstatic to see her. I see my emotions reflect on her face as well. Running a race and cheering on the runners is such a special experience on both sides. I know seeing Vero at that moment would push me through the next two miles. Although maybe I could have ran them even without seeing her, I think I PR'd because I did. 
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">Mile 12</h2>
                            <p class="fs-5 mb-4">I look at my watch and realize I could be close to ending at the 2-hour mark. Could it be? I try to do the math in my head but I can barely do mental math when not moving. Trying to do mental math with weird pace time in pouring rain on the 12th mile of my run is damn near impossible. I decide to just push for the last mile, as much as I can while maintaining my form — and start to go. 
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">Finish Line</h2>
                            <p class="fs-5 mb-4">I sprint across and I don't even know what time I ended up doing. I just know I did it and I am so proud of myself in a way I haven't been in a long time. Somebody puts a medal around my neck and I think about how rare it is to get a medal for something once you become an adult. 
                            </p>
                            <p class="lead fs-3">13.1 miles. 2 hours 1 minute 19 seconds official time. 6 PRs. 1 medal. My 200th run since I started training. The RBC Brooklyn Half Marathon 2023. </p>

                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">NYC Marathon Countdown</div>
                        <div class="card-body">167 days left<br><span> Sunday, November 5th, 2023</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-3" style="background-color:#655DBB;">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Run With Angie 2023</p></div>
        </footer>
    </main>
</body>
</html>